<ion-content class="fondo">
  <ion-card color="warning">
    <ion-card-header>
      <img src="../../assets/icon/1698321781740.png" alt="">
      <ion-card-title>Registro de servicio</ion-card-title>
    </ion-card-header>
  </ion-card>
  
 
  <ion-input class="my-custom-input"color="primary"  label="Nombre servicio" label-placement="floating" fill="outline" placeholder="Ingresar nombre del servicio" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" color="primary" label="Rut del cliente" label-placement="floating" fill="outline" placeholder="Ingresar Usuario del cliente" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" color="primary" label="patente vehículo" label-placement="floating" fill="outline" placeholder="Ingresar patente del vehículo" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" color="primary" label="Costo" label-placement="floating" fill="outline" placeholder="Ingresar costo del servicio" style="--color: black; --border-width: 2px;"></ion-input>
  <br>

  <ion-textarea style="--color: black; --border-width: 2px;"
  placeholder="Comentarios sobre el servicio realizado"
  [clearOnEdit]="true"
></ion-textarea>
  <br />


  <ion-button>Regristrar servicio</ion-button>
  
  
  </ion-content>
  