<ion-content class="fondo">
  <ion-card color="warning">
    <ion-card-header>
      <img src="../../assets/icon/1698321781740.png" alt="">
      <ion-card-title>Servicios</ion-card-title>
    </ion-card-header>
  </ion-card>
  
 
  <ion-list>
    <ion-item>
      <ion-select label="Tipo de servicio" placeholder="seleccione el servicio que necesita">
        <ion-select-option value="Revision">Revisión</ion-select-option>
        <ion-select-option value="aceite">Cambio de aceite</ion-select-option>
        <ion-select-option value="luces">Revisión de luces</ion-select-option>
        <ion-select-option value="filtro">Limpieza del filtro de aire, de gasolina y las bujías</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <br>

  <ion-input class="my-custom-input" color="primary" label="Usuario del cliente" label-placement="floating" fill="outline" placeholder="Ingresar Usuario del cliente" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" color="primary" label="patente vehículo" label-placement="floating" fill="outline" placeholder="Ingresar patente del vehículo" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" color="primary" label="Costo" label-placement="floating" fill="outline" placeholder="Ingresar costo del servicio" style="--color: black; --border-width: 2px;"></ion-input>
  <br>

  
  <br />


  <ion-button>Solicitar servicio</ion-button>
  
